<link href='http://fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>

<body>
  <div class='container'>
    <p class='title'>Which is taller?</p>
    <div class='contestants' id='combatant1'>
      <%= @random_building1.name %><br>
      <img src='<%= @random_building1.photo_url %>' alt='Combatant 2' title='Combatant 1'>
    </div>

    <div class='contestants' id='combatant2'>
      <%= @random_building2.name %><br>
      <img src='<%= @random_building2.photo_url %>' alt='Combatant 2' title='Combatant 2'>
    </div>

    <% if @winner %>
    <div id='answer'>
      <canvas id="myChart" width="400" height="200"></canvas>
      <p>You answered <%= @guess.name %></p>
        <% if @guess == @winner %>
        <h1 class="right">RIGHT</h1>
      <% else %>
        <h1 class="wrong">WRONG</h1>
        <%= @winner.name %>!
        <br>
      <% end %>
      <a href='/'>Goto next question</a>
    </div>
    <div class="hide">
      <input id="building1-name" value="<%= @random_building1.name %>">
      <input id="building1-height" value="<%= @random_building1.height %>">
      <input id="building2-name" value="<%= @random_building2.name %>">
      <input id="building2-height" value="<%= @random_building2.height %>">
    </div>
    <% else %>
    <div id="choose">
    <form action="/answer" method="post">
      <input name="combatant1" value="<%= @random_building1.id %>" type="hidden">
      <input name="combatant2" value="<%= @random_building2.id %>" type="hidden">
      <input type="radio" name="taller" value="combatant1"><%= @random_building1.name %><br>
      <input type="radio" name="taller" value="combatant2"><%= @random_building2.name %><br>
      <input id="submit-answer" type="submit" value="Submit">
    </form>
    </div>
    <% end %>

  </div>
</body>